.md * {
  max-width: 34ch;
}

.item {
  background-color: #fff;
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(noise.png);
  background-size: 180px 180px;
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(noise.png);
  background-size: 180px 180px;
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1;
}

@media only screen and (max-width: 760px) {
  .plantbed {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item {
    position: static !important;
    left: 0 !important;
    top: 0 !important;
    width: fit-content;
  }
}
