.md * {
  max-width: 34ch;
}

.item {
  background-color: #fff;
}

.item::before,
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(noise.png);
  background-size: 180px 180px;
  background-repeat: repeat;
  opacity: 0.03;
  pointer-events: none;
  z-index: -1;
}
